/*
progressive Enhancement
	awesome css		awesome js
	cool css		cool js
	css				css
			html
fuentes
*/

html{
	/*font-family: sans-serif;*/
	/*font-family: arial;*/
	/*font-family: 'Comic Sans', arial;*/
	/*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;*/
	font-family: 'Ovo', sans-serif;
	/*font-size: 110%;*/
	font-size: 80%;

}

/*
@media screen  --pantallas
@media print  --cuando imprima
*/
/*@media all and (min-width: 400px){*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	html{
		/*font-size: 80%;*/
		font-size: 120%;
	}
}

body{
	margin: 0;
	padding: 0;
}

.main-header{
	text-align: center;
	background-color: #16210B;
	color: white;
	padding: 4em;
}
	.main-header h1{
		margin: 0;
	}
	.main-header h2{
		font-size: 1rem;
		font-weight: normal;
	}

	/*@media all and (max-width: 400px){*/
	@media all and (orientation: landscape){
		.main-header{
			background-color: olive;
		}
	}

.card{
	position: relative;
	height: 30vh;
	width: 100%;
	/*background-image: url(../image/valencia.jpg);*/
	/*background-image: url(../image/valencia-small.jpg);*/
	background-size: cover;
	color: white;
	padding: .4em;
	font-family: 'Megrim', cursive; 
}
	
	.card--valencia{
		background-image: url(../image/valencia-small.jpg); 
	}

	/*.card--mv{*/
	.card[data-city="mv"]{
		background-image: url(../image/mv.jpg); 
	}

	.card__title{
		margin: 0;
		text-align: center;
		font-size: 2rem;
	}

	.card__date{
		font-size: .7rem;
		margin: 0;
		text-align: center;
	}

	@media all and (min-width: 28em){
		.card{
			/*background-image: url(../image/valencia.jpg);*/
			/*background-size: auto;*/
			background-position: center;
		}

		.card--valencia{
			background-image: url(../image/valencia.jpg); 
		}

		.card--mv{
			background-image: url(../image/mv.jpg); 
		}
	}

	.card__info{
		position: absolute;
		/*top: 0;*/
		bottom: .4em;
		/*left: 0;*/
		left: .4em;
		/*background-color: black;*/
		text-align: center;
	}

	.card__image{
		display: block;
	}

	.card__temp{
		display: block;
		font-size: 3rem;
		line-height: 1;
	}

	.card__maxt::before{
		content: "Max: "
	}

	.card__mint::before{
		content: "Min: "
	}

/*
herramientas:
	css font stack
	google fonts
	fontsquirrel: http://www.fontsquirrel.com/
	em proporcional media querys for de win: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
	https://developer.mozilla.org/es/docs/CSS/Media_queries
	http://coolvillage.es/propiedades-de-los-mediaqueries/
	para las imagenes: http://scottjehl.github.io/picturefill/
					   https://github.com/scottjehl/picturefill



*/
